/* fonts used
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif; */
body{
    font-family: sans-serif;
    /* text-align: center; */
}
#title{
    background-color: #ff4c68;
}
.head-line{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    /* text-align: left; */
}
.container-fluid{
    padding: 3% 15% 5%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 1.125rem;
}
.nav-link{
    font-size: 1.2rem;

}
.btn{
    margin: 5% 3% 5% 0;
}
.dog-image{
    width: 50%;
    transform: rotate(25deg);
    position: relative;
    /* z-index: 0; */
    top: 40%;
}
#features{
    padding: 7% 15%;
    text-align: center;
    position: relative;
    /* z-index: 1; */
    background-color: white;
}
.c1{
    padding: 4%;
}
.fa-logo{
    font-size: 4.375rem;
    margin: 1rem;
    color: #ef8172;
}
.fa-logo:hover{
    color: #ff4c68;
    transition: 0.3s ease;
    font-size: 5rem;
    cursor: pointer;

}
.f-text{
    font-weight: 700;
}
.f-big{
    font-size: 1.563rem;
}
.f-para{
    color: rgb(150, 150, 150);
}
#testimonials{
    background-color: #ef8172;
    color: #fff;
    text-align: center;
}
.testimonials-text{
    font-family:'Montserrat', sans-serif ;
    line-height: 1.5;
    font-size: 3rem;
}
.testimonial-image{
    width: 10%;
    margin: 1.25rem;
    border-radius: 100%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:8%;
}
.press-image{
    width: 15%;
    margin: 1.25rem 1.25rem 3.125rem;
}
.carousel-item{
    padding: 8% 16%;
}
#pricing{
    text-align: center;
    padding: 6.25rem;
}
.p-title{
    font-weight: 700;
}
.p-card{
    font-weight: 700;
}
.card{
    margin: 3% 2%;
}

#cta{
    padding: 8% 16%;
    text-align: center;
    background-color: #ff4c68;
}
.f-title{
    font-family: 'Montserrat' ;
    line-height: 1.5;
    font-size: 3rem;
    margin: 20px 0px 50px;
    color: white;
}

#footer{
    padding:6% 16%;
    text-align: center;
}
.brands{
    margin: 10px 10px 20px;
}
.cpright{
    color: rgb(124, 124, 124);
}

@media (max-width:1028px) {
    .dog-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}